{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <h1>Chat</h1>
    {# <a href="{{ path('app_chat_index') }}">back to list</a> #}
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chat.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ chat.title }}</td>
            </tr>
        </tbody>
    </table>


     

    <form method="POST" action="{{path ("new_coment")}}">
        <input type="hidden" name="chat_id" value="{{ chat.id }}">
        <input type="text" name="message" placeholder="Escribe tu mensaje...">
        <input type="submit" value="Enviar">
    </form>
{% endblock %}
